*{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  }
header {
  background: #5167b2;
  padding: 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  }
h1 {
  text-align: center;
  font-weight: 300;
  font-size:25px;
  }
h2 {
  text-align: center;
  font-weight: 100;
  font-size:18px;
  }
h6 {
    color: white;
    font-weight: 100;
    font-size:28px;
    }
button {
    border-radius: 30px;
    background-color: #e7e7e7; color: black;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    }
img {
  width: 1500px;
  }