*{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
  padding-bottom: 80px;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  column-gap: 50px;
  grid-area: mainContent;
}

.categoryCard {
  width: 280px;
  height: 430px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.mainCardImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.pag-link {
  text-decoration: none;
  color: #292929;
}

.mainCategoryCardTitle {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}

.mainCategoryCardDescription {
  padding: 6px;
}

a {
  text-decoration: none;
  color: black;
}

header {
background: #5167b2;
padding: 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size:25px;
}

h2 {
  text-align: center;
  font-weight: 100;
  font-size:18px;
}

.gridContainer{
  display: grid;
  flex-direction: column;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent" "sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
  padding-bottom: 80px;
  border: 0;
  box-sizing: border-box;
}

.sidebarContent {
 background-color: #d5d9e7;
 border: 0px;
 color: black;
 display: flex;
 flex-direction: column;
 align-items: center;
 min-width: 300px;
 grid-area: sidebarContent;
 gap: 20px;
 height: 60%;
 display: flex;
 flex-direction: column;
 row-gap: 30px;
 border: 2px solid #6679bd;
 border-radius: 15px;
 flex-wrap: wrap;
 box-sizing: border-box;
} 

.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebarCardImg {
  width: 100%;
  border-radius: 10px;
}

.sidebarCardTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

.sidebarCard:hover {
  border-color: gainsboro;
}

.IMC{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: imcContent;
  gap: 20px;
  height: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border-radius: 15px;
  flex-wrap: wrap;
}

.botao {
  border-radius: 30px;
  background-color: #e7e7e7; color: black;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
}

span {
 color: white;
 font-weight: 100;
 font-size:28px;
}

footer {
  width: 100%;
  min-height: 40px;
  background: #5167b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  height: 106px;
  margin-top: 0px;
}

h6 {
  color: white;
  font-weight: 100;
  font-size:28px;
}

.linkFooter{
  color: white;
  font-size:20px;
}

#itext {
  background-color: #b3c4ff;
  text-align: center;
  padding: 5%;
  margin-top: 1%;
  display: inline-block;
  border: none;
  border-radius: 8px;
}

@media (max-width: 630px) {
  .gridContainer {
      grid-template-areas:
          "mainContent"
          "sidebarContent";
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .footerAnchor {
      font-size: 19px;
  }
}

@media (max-width: 370px) {
  .sidebarContent {
      padding: 1px;
  }
}

/* Aqui começa a página interna dos atletas */ 

.divInterna{
  background-color:rgb(217, 217, 215);
  margin: 10px 10px;
  padding: 100px;
  border:#5167b2 solid 5px;
}

.title{
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  font-size:20px;
}

.imgAtleta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.info {
  text-align:justify;
}